{% extends "portfolio/base.html" %}

{% block content %}
<h1 class="cover-heading">About me</h1>
<p class="lead">My name is Renzo Cammi, I'm an engineering surveyor based in Buenos Aires, Argentina. My skill set spans
    a wide range of tools and technologies, including Python, R, and SQL scripting for data analysis and manipulation,
    alongside proficiency in building ETLs from scratch. Additionally, I excel in creating dynamic reporting and
    visualization solutions, leveraging platforms like Power BI, Looker, and Metabase. I am adept at utilizing
    Django framework for web development, as well as employing Docker and Airflow for efficient workflow automation.</p>
{% endblock content %}